/*Browser Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #f7f9fa;
}

/*colors
    #46adf2 : light blue
    #f7f9fa : background's grey
    #65bfa9 : yes thick green
    #eb5a52 : no thick red
    #9b71e3 : purple
    #63bfa8 : dark green
    #f29f33 : orange
    #d964a2 : pink
    #b1c926 : light green
    #444851 : dark grey

*/

.debug{
  border: 1px solid red;
}

/*Header*/
header{
background-color: white;
padding: 10px 20px;

}
header img{
  vertical-align: middle;
}
h1{
  display: inline-block;
  font-size: 3em;
  vertical-align: middle;
}
main{
  margin: 30px auto;
  max-width: 1200px;
}

.top-bar, .main-content{
  background-color: white;
  padding: 10px 20px;
}

.main-content{
  margin-top: 5px;
}
ul{
  list-style: none;
}

li{
  padding: 5px;
}

.badge{
  padding: 6px 16px;
  border-radius: 16px;
  color: white;
  font-size: 0.8em;
  display: inline-block;
}

.editorial{
  background-color: #46adf2;
}

.goals{
  background-color: #9b71e3;
}

.recruiting{
  background-color: #63bfa8;
}

.mobile{
  background-color: #f29f33 ;
}

.btn{
  padding: 6px 12px;
  border-radius: 6px;
  border-color: transparent;
}

#task{
  background-color: #46adf2;
  color: white;
}

#section{
  background-color: white;
  color: #CBD0D5;
  border-color: #CBD0D5;
}

.circle{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.cross{
  border: 1px solid red;
  color: red;
}
.check{
  border: 1px solid #65bfa9;
  color: #65bfa9;
}